TENCENTCLOUD_SECRET_ID=AKIDxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TENCENTCLOUD_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EDGEONE_ZONE_ID=zone-xxxxxxxxxxxxxxxxxxxx
EDGEONE_PURGE_DOMAIN=blog.sovoice.asia
EDGEONE_PURGE_TYPE=purge_host
